@{  ViewBag.Title = "Register";
    TaxiSystems.Controllers.Usuario __user = new TaxiSystems.Controllers.Usuario();

    if (ViewBag.Usuario != null)
    {
        __user = (TaxiSystems.Controllers.Usuario)ViewBag.Usuario;
    }}
<div data-role="page" id="register" data-theme="a">
    <div data-role="header">
        @Html.Partial("PartialHeader")
        <h2>
            Crear una nueva cuenta</h2>
    </div>
    <!-- /header -->
    <div data-role="content">
        <p>
            Por favor, llene el siguiente formulario para crear una nueva cuenta.
        </p>
        @if (ViewBag.Usuario == null)
        {
            using (Html.BeginForm("Register", "Account"))
            {
            <fieldset>
                <div data-role="fieldcontain" @*class="ui-hide-label"*@>
                    <label for="UserName">
                        Nombre de Usuario:</label>
                    <input type="text" name="UserName" id="UserName" value="" placeholder="ej. anamaria15" />
                </div>
                <div data-role="fieldcontain">
                    <label for="Email">
                        E-mail:</label>
                    <input type="text" name="Email" id="Email" value="" placeholder="ej. anamaria15@gmail.com" />
                </div>
                <div data-role="fieldcontain">
                    <label for="Password">
                        Contraseña:</label>
                    <input type="password" name="Password" id="Password" value="" placeholder="Debe ser mayor a 6 caracteres" />
                </div>
                <div data-role="fieldcontain">
                    <label for="ConfirmPassword">
                        Confirme la contraseña:</label>
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Indique de nuevo su contraseña" />
                </div>
                <div data-role="fieldcontain" @*class="ui-hide-label"*@>
                    <label for="UserName">
                        Nombre y Apellido:</label>
                    <input type="text" name="Nombre" id="Nombre" value="" placeholder="ej. Ana Maria Morales" />
                </div>
                <div data-role="fieldcontain">
                    <label for="Direccion">
                        Dirección:</label>
                    <input type="text" name="Direccion" id="Direccion" placeholder="ej. Ave. Juan Bimba, Edf. Don Pancho" />
                </div>
                <div data-role="fieldcontain">
                    <label for="TelefonoCasa">
                        Telefono:</label>
                    <input type="text" name="TelefonoCasa" id="TelefonoCasa" placeholder="ej. 02125555555" />
                </div>
                <div data-role="fieldcontain">
                    <label for="TelefonoMovil">
                        Celular:</label>
                    <input type="text" name="TelefonoMovil" id="TelefonoMovil" placeholder="ej. 04125555555" />
                </div>
                <div data-role="fieldcontain">
                    <label for="Zona" class="select">
                        Zona donde vive:</label>
                    <select name="Zona" id="Zona" data-native-menu="false">
                        <option>Seleccione:</option>
                        @foreach (var item in Model)
                        {

                            <option value="@item.Id">@item.Zona1</option>
                        }
                    </select>
                </div>
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a">
                        <button type="submit" data-theme="b" name="submit" value="submit-value">
                            Registrarse</button>
                    </div>
                    <div class="ui-block-b">
                        <button type="button" data-theme="a" name="submit" value="submit-value" onclick="javascript:history.back(1);">
                            Cancelar</button>
                    </div>
                </fieldset>
            </fieldset>
            }
        }
        else
        {
            using (Html.BeginForm("Register", "Account"))
            {
            <fieldset>
                <input type="hidden" name="UserId" id="UserId" value="@__user.UserID" />
                <div data-role="fieldcontain" @*class="ui-hide-label"*@>
                    <label for="UserName">
                        Nombre de Usuario:</label>
                    <input type="text" name="UserName" id="UserName" value="@__user.aspnet_Membership.aspnet_User.UserName" placeholder="ej. anamaria15" disabled="disabled" />
                </div>
                <div data-role="fieldcontain">
                    <label for="Email">
                        E-mail:</label>
                    <input type="text" name="Email" id="Email" value="@__user.aspnet_Membership.LoweredEmail" placeholder="ej. anamaria15@gmail.com" />
                </div>
                <div data-role="fieldcontain">
                    <label for="OldPassword">
                        Contraseña Anterior:</label>
                    <input type="password" name="OldPassword" id="OldPassword" value="" placeholder="Debe ser mayor a 6 caracteres" />
                </div>
                <div data-role="fieldcontain">
                    <label for="Password">
                        Contraseña:</label>
                    <input type="password" name="Password" id="Password" value="" placeholder="Debe ser mayor a 6 caracteres" />
                </div>
                <div data-role="fieldcontain">
                    <label for="ConfirmPassword">
                        Confirme la contraseña:</label>
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Indique de nuevo su contraseña" />
                </div>
                <div data-role="fieldcontain" @*class="ui-hide-label"*@>
                    <label for="UserName">
                        Nombre y Apellido:</label>
                    <input type="text" name="Nombre" id="Nombre" value="@__user.Nombre" placeholder="ej. Ana Maria Morales" />
                </div>
                <div data-role="fieldcontain">
                    <label for="Direccion">
                        Dirección:</label>
                    <input type="text" name="Direccion" id="Direccion" placeholder="ej. Ave. Juan Bimba, Edf. Don Pancho" value="@__user.Direccion" />
                </div>
                <div data-role="fieldcontain">
                    <label for="TelefonoCasa">
                        Telefono:</label>
                    <input type="text" name="TelefonoCasa" id="TelefonoCasa" placeholder="ej. 02125555555" value="@__user.TelefonoCasa" />
                </div>
                <div data-role="fieldcontain">
                    <label for="TelefonoMovil">
                        Celular:</label>
                    <input type="text" name="TelefonoMovil" id="TelefonoMovil" placeholder="ej. 04125555555" value=""@__user.TelefonoMovil />
                </div>
                <div data-role="fieldcontain">
                    <label for="Zona" class="select">
                        Zona donde vive:</label>
                    <select name="Zona" id="Zona" data-native-menu="false">
                        <option>Seleccione:</option>
                        @foreach (TaxiSystems.Controllers.Zona item in Model)
                        {

                            <option value="@item.Id" @(__user.IdZona == item.Id ? "selected='selected'" : "") >
                                @item.Zona1</option>
                        }
                    </select>
                </div>
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a">
                        <button type="submit" data-theme="b" name="submit" value="submit-value">
                            Guardar</button>
                    </div>
                    <div class="ui-block-b">
                        <button type="button" data-theme="a" name="submit" value="submit-value" onclick="javascript:history.back(1);">
                            Cancelar</button>
                    </div>
                </fieldset>
            </fieldset>
            }
        }
        @if (ViewBag.Error != null)
        {

            <h4 class="error" style="text-align: center">
                @ViewBag.Error</h4>
        }
    </div>
    <div data-role="footer" data-theme="d">
        @Html.Partial("PartialFooter")
    </div>
</div>
